
.leaflet-control-layers-fixed-expanded .leaflet-control-layers-list {
    display: block;
    position: relative;

}
/*
.leaflet-control-layers-fixed-expanded .leaflet-control-layers-toggle {
    display: none;
}
*/

.leaflet-custom-always-visible {
    display: block;

}

.leaflet-control-layers-fixed-expanded {
    padding: 6px 10px 6px 6px;
    color: #333;
    background: #fff;
    font-size: 3vh;
}

